// * {
//   margin: 0;
// }
@keyframes bgcolor {
  0% {
    background-color: #f8fafc;
  }

  30% {
    background-color: #cfcfce;
  }

  60% {
    background-color: #858585;
  }

  80% {
    background-color: #333;
  }
  100% {
    background-color: black;
  }
}
main {
  margin-top: 80px;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
///////////////////////////////////////////////////////////
.tech-img {
  height: 60px;
  width: 60px;
  margin: 20px;
  cursor: pointer;
}
.tech-img h4 {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.tech-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  text-decoration: underline;
  padding: 20px;
  margin: 30px;
  margin-top: 60px;
}
.tech-container {
  margin: 0px;
}
.titles {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  margin: 10px;
  font-size: 20px;
}

.index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.index-con3 {
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  align-items: center;
}

@media (max-width: 800px) {
  .index-con3 {
    display: flex;
    flex-direction: column;
  }
}

.index-con4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: require("../images/code.jpg");
  padding: 20px;
  margin-top: 20px;
}

.my-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.my-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  height: 400px;
  -webkit-animation: bgcolor 10s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.headshot {
  display: flex;
  // border-radius: 2em;
  widows: 350px;
  height: 350px;
  border: 1px solid #021a40;
  background-color: white;
}

@media (max-width: 800px) {
  .headshot {
    width: 100px;
    height: 100px;
  }
}

.social-logos-img {
  width: 75px; /* Set a small width */
  height: 75px;
  margin: 25px;
}

.social-logos-img:hover {
  opacity: 9;
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  text-decoration: underline;
  padding: 20px;
  margin-top: 70px;
}

.about-me-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  text-decoration: underline;
  padding: 20px;
  margin: 40px;
}

.project-title2 {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
}

.card-inside {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.jonathan {
  padding-top: 20px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
  text-shadow: -1px 0 white, 0 3px white, 3px 0 white, 0 -1px white;
  font-family: "Playfair Display", serif;
}

.contact-title {
  padding-top: 10px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
  text-shadow: -1px 0 white, 0 3px white, 3px 0 white, 0 -1px white;
  font-family: "Playfair Display", serif;
}
.i-build-websites {
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", serif;
  text-shadow: -1px 0 white, 0 3px white, 3px 0 white, 0 -1px white;
  padding: 40px;
}
.full-stack-dev {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
  text-shadow: -1px 0 white, 0 3px white, 3px 0 white, 0 -1px white;
  font-family: "Playfair Display", serif;
}

.pop-image {
  // height: 300px;
  cursor: pointer;
  padding: 1px;
  border: 1px solid #021a40;
}

.pop-image:hover {
  box-shadow: 0 0 2px 1px white(0, 140, 186, 0.5);
  background: blue;
}
.details {
  padding: 5px;
}

.details2 {
  text-align: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
}

.my-details {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: "Playfair Display", serif;
}

@media (max-width: 600px) {
  .my-details {
    font-size: 18px;
    text-align: start;
  }
}

.links {
  display: flex;
  text-decoration: none;
  color: red;
  align-items: flex-end;
}
.button-links {
  display: inline-flex;
  background-color: transparent;
  text-decoration: none;
  color: white;
  cursor: pointer;

  border: none;
}

.button-links:hover {
  text-decoration: underline;
}

.ul-list {
  display: inline-flex;
  margin: 0;
}
.button-links-nav {
  display: inline-flex;
  background-color: transparent;
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  border: none;
  margin-top: 10px;
}
.button-links-nav:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: black;
  position: relative;
  top: 0;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 6%;
}

@media (max-width: 800px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-flex-burger {
  overflow: hidden;
  margin: 0;
  cursor: pointer;
}

.nav-flex-burger a {
  display: block;
  color: white;
  padding: 12px 1px 1px 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 9px;
  outline: none;
  position: relative;
  margin-right: 80px;
  margin-bottom: 14px;
}

@media (max-width: 800px) {
  .nav-flex-burger {
    display: none;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: black;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border: none;
}
.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 60px;
  width: 60px;
  margin: 20px;
  cursor: pointer;
}
.hvrbox img {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes example1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes example1 {
  0% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 10px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}
//////////////////////////////// pt2
.hvrbox2,
.hvrbox2 * {
  box-sizing: border-box;
}
.hvrbox2 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 50px;
  width: 50px;
  margin: 20px;
  cursor: pointer;
}
.hvrbox2 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 40px;
  width: 40px;
  margin: 10px;
  cursor: pointer;
}
.hvrbox2 img {
  max-width: 100%;
}
.hvrbox2 .hvrbox-layer_bottom {
  display: block;
}
.hvrbox2 .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox2:hover .hvrbox-layer_top,
.hvrbox2.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox2 .hvrbox-text {
  text-align: center;
  font-size: 8px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox2 .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 2px;
  padding-top: 1px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

.techs-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.github-link {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume-button2 {
  cursor: pointer;
  border-radius: 8px;
  color: white;
  background: black;
  border: none;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
  font-family: "Playfair Display", serif;
  font-display: black;
  font-size: 28px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  margin: 2%;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.resume-button2:hover {
  background-color: gainsboro;
  color: #333;
}

@media (max-width: 600px) {
  .resume-button2 {
    font-size: 18px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.hire-me-button {
  cursor: pointer;
  border-radius: 8px;
  color: white;
  background: black;
  border: none;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Playfair Display", serif;
  font-display: black;
  font-size: 28px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  margin: 2%;
  display: flex;
  text-decoration: none;
  position: relative;
}
.hire-me-button a {
  cursor: pointer;
  border-radius: 8px;
  padding: 20px;
  color: white;
  background: black;
  border: none;
  font-family: "Playfair Display", serif;
  font-display: black;
  font-size: 26px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  margin: 2%;
  display: flex;
  text-decoration: none;
  position: relative;
}

.hire-me-button:hover {
  background-color: gainsboro;
  color: #333;
}

@media (max-width: 600px) {
  .hire-me-button {
    font-size: 16px;
    padding-right: 32px;
    padding-left: 32px;
    margin: 0;
  }
}
.resume-button {
  cursor: pointer;
  border-radius: 8px;
  color: white;
  background: black;
  border: none;
  font-family: "Playfair Display", serif;
  font-display: black;
  font-size: 26px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  margin: 2%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  // width: 500px;
}
.resume-button a {
  cursor: pointer;
  border-radius: 8px;
  color: white;
  background: black;
  border: none;
  font-family: "Playfair Display", serif;
  font-display: black;
  font-size: 26px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  margin: 2%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  position: relative;
}

.resume-button:hover {
  background-color: gainsboro;
  color: #333;
}

.form-button {
  font-size: 20px;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  text-align: center;
  text-shadow: -1px 0 white, 0 3px white, 3px 0 white, 0 -1px white;
  font-family: "Playfair Display", serif;
  cursor: pointer;
}

.form-button:hover {
  background-color: gainsboro;
  color: #333;
}

.form {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  text-shadow: -1px 0 white, 0 3px white, 3px 0 white, 0 -1px white;
  font-family: "Playfair Display", serif;
}

.your-company {
  font-size: 30px;
  color: black;
  text-align: center;
  text-shadow: -1px 0 white, 0 3px white, 3px 0 white, 0 -1px white;
  font-family: "Playfair Display", serif;
}

.form-message {
  font-size: 20px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 12em;
  padding-right: 0.4em;
  width: 600px;
  height: 300px;
  display: table-column;
  color: black;
  // text-align: center;
  text-shadow: -1px 0 white, 0 3px white, 3px 0 white, 0 -1px white;
  font-family: "Playfair Display", serif;
}

.the-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 22px 65px 4px rgba(0, 0, 0, 0.14);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col {
  width: calc(39% - 2rem);
  margin: 0.5rem;
  cursor: pointer;
}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 2px;
  color: #fff;
  font-size: 1.2rem;
}

.back {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.9;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}
.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(100px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  margin-bottom: 1;
  position: relative;
}

.front .inner p:after {
  content: "";
  width: 4rem;
  height: 0px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat";
  font-weight: 300;
}

@media screen and (max-width: 550px) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 68rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 52rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
